<div id="splash">

  <div class="full-size-div"></div> <!-- New div with full size -->

  <!-- Image element for the background -->
  <img id="background-image" class="background-image" src="/assets/logo/header.webp" alt="Background Image">

  <!-- Background video -->
  <video id="background-video" class="background-video" autoplay loop muted playsinline>
    <source type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!-- Existing background image -->
  <img class="shield-image" src="/assets/logo/option1-nobg.webp" alt="Background Image" id="shield-image">

  <div class="header-flex-container" id="logo_container" style="width: 100vw; height: 100vh;">
    <div class="header-svg-container">
      <!-- SVG image -->
      <img id="svg-header" src="/assets/logo/logo-official.svg">
    </div>
  </div>
</div>